<component name="ArtifactManager">
  <artifact type="jar" name="SpringThymeleaf:jar">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringThymeleaf_jar</output-path>
    <root id="archive" name="SpringThymeleaf.jar">
      <element id="module-output" name="SpringThymeleaf" />
    </root>
  </artifact>
</component>